{% extends "class/each/base.html" %}

{% block content %}
<aside></aside>
<main>
  <h1>{{ class_.name }}</h1>
  {% if form.errors %}
  <div style="color: red;">
    <ul>
      {% for field, errors in form.errors.items() %}
      {% for error in errors %}
      <li>{{ error }}</li>
      {% endfor %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.body() }}
    {{ form.submit() }}
  </form>
  <ul>
    {% for post in posts %}
    <li class="post">
      <p><span class="name">{{ post.poster.name + {10: "", 15: " 保護者", 20: " 先生", 30:""}[post.poster.role] }}</span><span class="created-at"><time>{{ post.created_at | utc_to_jst }}</time></span></p>
      <p>{{ post.content }}</p>
    </li>
    {% endfor %}
  </ul>
</main>
{% endblock %}

